<!-- ko if: config.availableExtension ==  1-->
<label class="label" data-bind="i18n: 'External Order Id'"></label>
<div class="control order_id_section">
    <input aria-required="true" class="required-entry input-text" type="text" data-bind="" data-validate="{'required-entry':true}" name="external_order_id" id="external_order_id"/>
    <div class="message"></div>
</div>
<br/>
<!-- /ko -->